body {
    background: whitesmoke;            
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}